html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.top0 {
  margin-top: 1.7rem;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="tel"],
input[type="url"],
input[type="password"],
input[type="text"],
input[type="email"],
input[type="reset"],
input[type="button"],
input[type="submit"],
button,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[href],
label[for],
select,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"] {
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="image"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
}

.hide {
  position: absolute !important;
  left: -9999em !important;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Novecentowide";
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

th,
td {
  vertical-align: top;
}

th {
  font-weight: normal;
  text-align: left;
}

address,
cite,
dfn {
  font-style: normal;
}

abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

/* Normalized Styles
------------------------------------------------------------------------------*/

body {
  font: 16px/30px Arial, Helvetica, sans-serif;
  color: #949697;
  background: #fff;
  -webkit-text-size-adjust: none;
  min-width: 320px;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #666668;
}

/* a:hover {
  text-decoration: underline;
} */

/* Content
------------------------------------------------------------------------------*/

/* #slider .first {
  background: no-repeat 50% 15%;
  background-size: cover;
} */

.last-products .bx-prev:hover,
.last-products .bx-next:hover {
  background: #d3d3d3;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.last-products h2 {
  color: #939597;
  border-bottom: 1px solid #d3d3d3;
  font-size: 24px;
  font-family: "Novecentowide";
  font-weight: 200;
  padding: 21px 30px;
}

.quick-links {
  overflow: hidden;
  text-align: center;
  font-size: 0;
  margin: 0 -15px 30px;
}

.quick-links article {
  margin: 0 15px;
  display: inline-block;
  width: 370px;
  height: 412px;
}

.quick-links h2 {
  color: #f7c769;
}

.quick-links h4 {
  color: #beb2a5;
  font-family: "Novecentowide";
  font-size: 18px;
  font-weight: normal;
}

.quick-links .table {
  display: table;
  height: 100%;
  width: 100%;
  color: #beb2a5;
}

.quick-links .table:hover {
  text-decoration: none;
}

.quick-links h4 {
  font-family: "Novecentowide";
  font-size: 18px;
  text-transform: uppercase;
}

.quick-links h3 {
  font-family: "Novecentowide";
  font-size: 24px;
}

.quick-links a p {
  font-family: "Novecentowide";
  padding-top: 14px;
  color: #cd9b9f;
  font-size: 18px;
}

.quick-links hr {
  width: 54px;
  height: 2px;
  background-color: #e9e3d5;
  margin: 15px auto 12px;
  border: 0;
  display: block;
}

.quick-links .cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.quick-links .red hr {
  background: #eed3d3;
}

.quick-links .red a h4 {
  padding: 0 0 15px;
  color: #ce9b9f;
}

.quick-links .red a h3 {
  color: #cd9b9f;
  padding: 18px 0 18px;
  font-size: 30px;
}

.quick-links .red .text {
  width: 264px;
  padding: 50px 0;
  box-shadow: inset 0 0 0 2px #d59ca1;
}

.quick-links .text {
  margin: auto;
  padding: 20px 0 30px;
  width: 312px;
  border: 4px solid #fff;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #d6cfc3;
}

h1 {
  color: #656567;
  font-size: 36px;
  padding-bottom: 17px;
  line-height: normal;
}

.entry h2 {
  color: #656567;
  font-size: 36px;
  padding: 18px 0 17px;
  line-height: normal;
}

/* Fonts
------------------------------------------------------------------------------*/

@font-face {
  font-family: "Novecentowide";
  src: url("../fonts/Novecentowide-Bold.eot");
  src: url("../fonts/Novecentowide-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Novecentowide-Bold.woff") format("woff"),
    url("../fonts/Novecentowide-Bold.ttf") format("truetype"),
    url("../fonts/Novecentowide-Bold.svg#Novecentowide-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Novecentowide";
  src: url("../fonts/Novecentowide-Book.eot");
  src: url("../fonts/Novecentowide-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Novecentowide-Book.woff") format("woff"),
    url("../fonts/Novecentowide-Book.ttf") format("truetype"),
    url("../fonts/Novecentowide-Book.svg#Novecentowide-Book") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Novecentowide";
  src: url("../fonts/Novecentowide-Medium.eot");
  src: url("../fonts/Novecentowide-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Novecentowide-Medium.woff") format("woff"),
    url("../fonts/Novecentowide-Medium.ttf") format("truetype"),
    url("../fonts/Novecentowide-Medium.svg#Novecentowide-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Novecentowide";
  src: url("../fonts/Novecentowide-Normal.eot");
  src: url("../fonts/Novecentowide-Normal.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Novecentowide-Normal.woff") format("woff"),
    url("../fonts/Novecentowide-Normal.ttf") format("truetype"),
    url("../fonts/Novecentowide-Normal.svg#Novecentowide-Normal") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Novecentowide";
  src: url("../fonts/Novecentowide-DemiBold.eot");
  src: url("../fonts/Novecentowide-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Novecentowide-DemiBold.woff") format("woff"),
    url("../fonts/Novecentowide-DemiBold.ttf") format("truetype"),
    url("../fonts/Novecentowide-DemiBold.svg#Novecentowide-DemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Novecentowide";
  src: url("../fonts/Novecentowide-Light.eot");
  src: url("../fonts/Novecentowide-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Novecentowide-Light.woff") format("woff"),
    url("../fonts/Novecentowide-Light.ttf") format("truetype"),
    url("../fonts/Novecentowide-Light.svg#Novecentowide-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* ------------  jwl   ------------- */

.jwl {
  height: 800px;
  margin: 2rem 1rem;
  border-radius: 20px;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------  first-0   ------------- */
.first-0 {
  text-align: center;
  max-width: 97vw;
}

.first-0 h2 {
  font-size: 2.5rem;
  margin: 9rem 0 1.5rem;
  color: rgb(108, 106, 0);
}

.first-0 p {
  font-size: 1.5rem;
  margin: 1.5rem 0 2rem;
}

.p-0 p {
  margin-top: -0.7rem;
  margin-left: -0.2rem;
}

.p-0 {
  display: flex;
}

/* #footer .media {
  margin-left: 2rem;
  width: 49% !important;
  float: none;
  vertical-align: top;
  display: inline-block;
}

.li a:hover {
  text-decoration: none;
  border-bottom: 0.2rem solid #d3b15b;
  padding-bottom: 1rem;
}

.hidden a:hover {
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 0;
} */

/* .box0 {
  padding: 5rem;
  background-image: url(https://myjewelleryshop.com.au/cdn/shop/files/mjs-shop-front.jpg?v=1677173082&width=700);
  background-position: center;
  background-size: cover;
} */

/* .box1 {
  padding: 5rem;
  background-image: url(https://myjewelleryshop.com.au/cdn/shop/files/mjs-team.jpg?v=1677172886&width=800);
  background-position: center;
  background-size: cover;
  margin: 10rem 0;
} */

/* .img-box0 img {
  z-index: -1;
} */

.img-box1 {
  height: 400px;
  /* width: 900px; */
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}

.img-box1 img {
  height: 400px;
}

.img-box1 img {
  width: 100%;
}

/* .text-box0 {
  height: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.947); */
/* margin: 3rem -10rem 0 0; */
/* z-index: 0; */
/* } */

.text-box1 {
  height: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.975);
  margin: 0 0rem 3rem;
}

.box {
  background-image: url(https://static.businessnews.com.au/sites/default/files/Aditya-Birla_A.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
}

.text-box {
  height: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.713);
  /* margin: 3rem -10rem 0 0; */
  /* z-index: 0; */
}

.text-box1 h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

@media screen and (max-width: 552px) {
  .img-box1 {
    height: 200px;
    /* width: 10vw; */
    overflow: hidden;
    border-radius: 20px;
  }
}
@media screen and (max-width: 992px) {
  .img-box1 {
    height: 400px;
    width: 90%;
    overflow: hidden;
    border-radius: 20px;
  }

  .img-box1 img {
    height: 400px;
    overflow: hidden;
  }

  .img-box1 img {
    width: 100%;
  }
}
.marin {
  margin: auto;
  float: none;
  margin-bottom: 20px;
  width: 10%;
}
.conact {
  width: 100%;
}

/* @media screen and (max-width: 1200px) {
  .marin {
    width: 11%;
  }
}

@media screen and (max-width: 992px) {
  .marin {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .marin {
    width: 20%;
  }
}

@media screen and (max-width: 539px) {
  .marin {
    width: 21%;
  }
}

@media screen and (max-width: 516px) {
  .marin {
    width: 22%;
  }
}

@media screen and (max-width: 495px) {
  .marin {
    width: 23%;
  }
}

@media screen and (max-width: 475px) {
  .marin {
    width: 24%;
  }
}

@media screen and (max-width: 459px) {
  .marin {
    width: 26%;
  }
}

@media screen and (max-width: 428px) {
  .marin {
    width: 90%;
  }
} */

/* ////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
////////////////////////////////////////
//////////////////////////////////////// */

/* Fonts
------------------------------------------------------------------------------*/

.menu-contain {
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.menu {
  color: #000000;
  font-size: 17px;
  font-weight: 900;
  z-index: 100;
  height: 72px;
  width: 100%;
  overflow: hidden;
}

.navbar {
  position: fixed;
  margin-top: -57px;
  right: 0;
  padding: 0;
}

.menu li {
  padding: 0px 27px;
  display: inline-block;
  font-family: "Novecentowide";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu .last {
  padding-right: 4px;
}

.menu a {
  color: #3f3f3f;
  text-decoration: none;
}

.menu .items-0:hover {
  border-bottom: 0.2rem solid #d3b15b;
  padding-bottom: 0.7rem;
  transition-duration: 0s;
}

.menu .active {
  border-bottom: 0.2rem solid #d3b15b;
  padding-bottom: 0.7rem;
}

.li-0-contain {
  /* position: fixed; */
  padding: 1rem;
  background-color: white;
  width: 100%;
  z-index: -1;
}

.li-0 {
  text-transform: uppercase;
  /* float: left; */
  font-size: 1.5rem;
}

.responsive-logo {
  position: absolute;
  top: -10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #4c4c4c;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  width: 250px;
}

.sidenav i {
  padding: 0px 10px 0px 0px;
  color: #4c4c4c;
}

.sidenav #a-1 {
  padding: 0px 13.2px 0px 0px;
}

.sidenav #a-2 {
  padding: 0px 16.3px 0px 0px;
}

.sidenav #a-3 {
  padding: 0px 13.3px 0px 0px;
}

.sidenav a:hover {
  color: #4c4c4c;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: -170px;
  font-size: 36px;
  margin-left: 50px;
}

.click {
  display: none;
}

.logo {
  text-align: left;
  margin-left: 30px;
  margin-top: -9px;
}

.logo h3 {
  font-weight: 900;
  color: #d3b15b;
  font-size: 1.5rem;
  margin-top: 20px;
}

@media screen and (max-width: 1201px) {
  .click {
    display: block;
  }

  .logo {
    text-align: center;
    margin-left: 0px;
  }

  .navbar {
    display: none;
  }
}

/* footer
------------------------------------------------------------------------------*/

#footer {
  clear: both;
  background: #222224 url(../images/bg_footer.png);
  padding: 27px 0 0;
  color: #a5a5aa;
  font-size: 14px;
  line-height: 30px;
}

#footer h3 {
  color: #fff;
  font-family: "Novecentowide";
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
}

#footer .conact p {
  line-height: 24px;
  font-size: 14px;
  padding: 2px 0 0;
  margin-bottom: 8px;
}

#footer .copy {
  color: #717176;
  font-size: 14px;
  padding: 28px 0;
  clear: both;
  width: 90%;
  margin: auto;
  border-top: 1px solid #333336;
  text-align: center;
}

.comntain-txt {
  display: flex;
  margin: auto;
  justify-content: center;
}

.marin-0 {
  margin-right: 70px;
  /* border-right: 1px solid white; */
}

.marin-1 {
  text-align: left;
}

/* .marin {
  margin: auto;
  float: none;
  margin-bottom: 20px;
  width: 10%;
}

.conact {
  width: 100%;
} */

.conact i {
  color: white;
  font-size: 1.1rem;
}

.icon-0 {
  margin-bottom: 25px;
}

.icon-0 i {
  font-size: 1.8rem;
  color: white;
}

.conact #p-0 {
  margin-left: 3px;
  margin-right: 1.5px;
}

.conact #p-2 {
  margin-left: 2.4px;
  margin-right: 2px;
}

@media screen and (max-width: 561px) {
  .comntain-txt {
    display: block;
    width: 100%;
    margin-left: 20px;
    /* margin-left: 40vw; */
  }
  .marin-0 {
    margin: auto;
  }
  .marin-1 {
    margin-top: 30px;
  }
}

.line {
  text-align: justify;
}
